.about {
    width: auto;
    height: auto;
    margin: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    &__textBox {
        width: 30%;
        &-title {
            color: #dfa974;
        }
        &-header {
            font-size: 40px;
        }
        &-button {
            display: flex;
            justify-content: center;
        }
    }
    &__pics {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &-1 {
            max-width: auto;
            height: auto;
            justify-content: center;
            margin-right: 15px;
        }
        &-2 {
            width: auto;
            height: auto;
        }
    }
}

@media screen and (max-width: 1060px) {
    .about__textBox {
        width: 50%;
    }
    .about__textBox-title {
        display: none;
    }
    .about__pics {
        margin-top: 30px;
    }
}

@media screen and (max-width: 800px) {
    .about__textBox {
        font-size: 15px;
    }
    .about__textBox-header {
        font-size: 25px;
    }
}

@media screen and (max-width: 700px) {
    .about__pics-1 {
        margin-right: 0;
        max-width: 275px;
        max-height: 390px;
        width: auto;
        margin-bottom: 15px;
        // margin-left: 6%;
    }
    .about__pics-2 {
        max-width: 275px;
        max-height: 390px;
        width: auto;
        // margin-left: 6%;
    }
}

@media screen and (max-width: 400px) {
    .about__pics-1 {
        margin-left: 0;
    }
    .about__pics-2 {
        margin-left: 0;
    }
}