.banner {
    height: 100%;
    width: auto;
    background-image: linear-gradient( to bottom, rgba(128, 128, 128, 0.5), rgba(0, 0, 255, 0.5)), url(../img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    &__textBox {
        display: flex;
        width: 30%;
        text-align: start;
        flex-direction: column;
        color: white;
        &-header {
            display: flex;
            text-align: start;
            margin: 25px 0;
            color: white;
            font-size: 50px;
            @media screen and (max-width: 800px) {
                font-size: 30px;
            }
        }
        &-text {
            font-size: medium;
            width: 60%;
        }
        @media screen and (max-width: 1060px) {
            display: none;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        padding: 70px 40px;
        margin: 50px 0;
        box-shadow: 1rem 2rem 4rem 0.5;
        border-radius: 5px;
        &-title {
            margin-top: -10px;
        }
        &-label {
            text-align: start;
            color: #70707d;
        }
        &-input {
            display: block;
            padding: 10px;
            margin: 10px 0;
            border: #d7d7d7 solid 1px;
        }
        &-button {
            padding: 15px 20px;
            margin-top: 15px;
            margin-bottom: -20px;
            background: transparent;
            border: #dfa974 solid 1px;
            border-radius: 3px;
            color: #dfa974;
            font-size: 15px;
        }
    }
    @media screen and (max-width: 1060px) {
        justify-content: center;
        align-items: center;
    }
}

::-webkit-datetime-edit-text {
    display: none;
}

::-webkit-datetime-edit-month-field {
    display: none;
}

::-webkit-datetime-edit-day-field {
    display: none;
}

::-webkit-datetime-edit-year-field {
    display: none;
}