.custom-btn {
    display: flex;
    border: none;
    width: fit-content;
    padding: 10px;
    font-weight: bold;
    // color: #fff;
    // background-color: transparent;
    cursor: pointer;
    position: relative;
    &:after {
        position: absolute;
        background-color: #dfa974;
        content: "";
        width: 0;
        height: 2px;
        left: 0;
        bottom: 0;
        transition: width 0.35s ease 0s;
    }
    &:hover:after {
        width: 100%;
    }
}