.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #222736;
    color: #aaaab3;
    padding: 4% 15%;
    gap: 10px;
    text-align: start;
    &__item-1 {
        flex: 30%;
        width: 30%;
        &--title {
            font-size: 30px;
            margin: 30px 0;
        }
        &--text {
            width: 70%;
        }
    }
    &__item-2 {
        flex: 30%;
        width: 30%;
        &--title {
            font-size: 15px;
            margin: 10px 0;
            color: #dfa974;
        }
    }
    &__item-3 {
        flex: 30%;
        width: 30%;
        &--title {
            font-size: 15px;
            color: #dfa974;
            margin: 10px 0;
        }
    }
}

.input-submit {
    list-style: none;
    padding-left: 0;
    display: flex;
    &__input {
        display: inline-block;
        background-color: #393d4a;
        border: none;
        border-radius: 3px 0 0 3px;
        padding: 17px;
        width: 150%;
        font-size: 20px;
    }
    &__btn {
        background-color: #dfa974;
        border: none;
        color: white;
        font-size: 17px;
        padding: 17px 20px;
        border-radius: 0 3px 3px 0;
    }
}

@media screen and (max-width: 1060px) {
    .footer {
        display: block;
        padding-left: 6%;
        &__item-1 {
            width: 50%;
        }
        &__item-2 {
            width: 100%;
        }
        &__item-3 {
            width: 100%;
        }
    }
}