.nav {
    width: 100%;
    &__top {
        display: flex;
        flex-direction: row;
        &-left {
            display: flex;
            border: #d7d7d7 solid 1px;
            flex-basis: 25%;
            justify-content: end;
            align-items: center;
            padding-right: 2%;
            &--list {
                list-style: none;
            }
        }
        &-right {
            display: flex;
            width: 100%;
            border: #d7d7d7 solid 1px;
            flex-basis: 75%;
            &--list {
                width: 100%;
                display: flex;
                list-style: none;
                margin: 10px 0;
                &-item-1 {
                    display: flex;
                    flex-basis: 40%;
                    justify-content: start;
                    align-items: center;
                }
                &-item-2 {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-basis: 15%;
                    font-size: 20px;
                }
                &-item-3 {
                    display: flex;
                    flex-basis: 10%;
                    background-color: #dfa974;
                    justify-content: center;
                    align-items: center;
                    height: auto;
                    margin: -10px 0;
                    margin-right: 1%;
                    border: none;
                    color: #fff;
                    letter-spacing: 3px;
                    @media only screen and (max-width: 1400px) {
                        margin: -13px 0px;
                        margin-right: 1%;
                        font-size: 10px;
                    }
                }
                &-item-4 {
                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: #f9f9f9;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                        z-index: 1;
                        & a {
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                            text-align: left;
                            &:hover {
                                background-color: #f1f1f1;
                            }
                        }
                    }
                    &:hover,
                    .dropdown-content {
                        display: block;
                    }
                }
            }
        }
        &-icon {
            margin-bottom: -5px;
            color: #dfa974;
            font-size: 20px;
        }
        @media only screen and (max-width: 800px) {
            display: none;
        }
    }
    &__bottom {
        display: flex;
        flex-direction: row;
        &-left {
            display: flex;
            flex-basis: 25%;
            justify-content: end;
            font-family: 'Lora', serif;
            margin-right: 8%;
            padding: 10px 0;
            font-size: 35px;
            @media only screen and (max-width: 800px) {
                align-items: center;
                justify-content: start;
            }
        }
        &-right {
            display: flex;
            flex-basis: 50%;
            flex-direction: row;
            justify-content: end;
            &--list {
                display: flex;
                width: 90%;
                list-style: none;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;
                margin: 0;
                &-item {
                    display: flex;
                    width: fit-content;
                    cursor: pointer;
                    position: relative;
                    &:after {
                        position: absolute;
                        background-color: #dfa974;
                        content: "";
                        width: 0;
                        height: 2px;
                        left: 0;
                        bottom: 0;
                        transition: width 0.35s ease 0s;
                    }
                    &:hover:after {
                        width: 100%;
                    }
                    &-icons {
                        display: flex;
                         :hover {
                            color: #dfa974;
                            transform: translateY(-1px);
                            transition: .3s ease-in-out;
                        }
                    }
                }
                @media only screen and (max-width: 800px) {
                    flex-direction: column;
                }
            }
        }
        &-hamburger {
            display: none;
        }
        @media screen and (max-width: 800px) {
            &-hamburger {
                display: block;
                position: fixed;
                z-index: 100;
                top: 1rem;
                right: 1rem;
                padding: 4px;
                border: black solid 1px;
                cursor: pointer;
                &--closeIcon {
                    display: none;
                }
            }
        }
        @media only screen and (max-width: 800px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-card {
            // position: fixed;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0rem 2rem 3rem rgba(0, 0, 0, 0.2);
        }
    }
    @media only screen and (max-width: 1400px) {
        font-size: 15px;
    }
    @media only screen and (max-width: 1000px) {
        align-items: center;
        font-size: 11px;
    }
}