.services__grid-item {
    flex: 30%;
    max-width: 30%;
    height: 300px;
    border-radius: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all .5s;
    &--icon {
        margin-top: 50px;
        color: #dfa974;
        font-size: 40px;
    }
    &--title {
        color: #19191a;
    }
    &--text {
        display: flex;
        justify-content: center;
        color: #9aa4b5;
        margin: 0 10%;
    }
    @media screen and (max-width: 1060px) {
        flex: 33.33%;
        max-width: 33.33%;
    }
    @media screen and (max-width: 700px) {
        flex: 100%;
        max-width: 100%;
    }
    &:hover {
        background-color: #dfa974;
        .services__grid-item--title {
            color: white;
        }
        .services__grid-item--icon {
            color: white;
        }
        .services__grid-item--text {
            color: white;
        }
    }
}