.services {
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    margin: 10px 10%;
    &__title {
        color: #dfa974;
        letter-spacing: 2px;
    }
    &__grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 4px;
        grid-gap: 20px;
    }
    @media screen and (max-width: 1060px) {
        &__title {
            display: none;
        }
    }
}